@import '../../../styles.scss';

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: mat-color($accent);
    border: 1px solid transparent;
  }
}

div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
