@import 'src/styles/themes/theme';
@import 'src/styles/abstracts/variables';

button {
  background-color: $color-black-overlay;
  color: $color-white;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border: 1px solid $color-white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: mat-color($accent);
    border: 1px solid $color-transparent;
  }
}

div {
  height: 100%;
}
