<mat-card class="product">
  <img class="product__image" src="../../../assets/images/products/{{productObject.img}}" alt="White dress photo">
  <div class="product__content" fxLayout fxLayoutAlign="space-between center">
    <span>
      <p>{{ productName }}</p>
      <p *ngIf="productReducedPrice">
        <span class="product__price--reduced">${{productReducedPrice}}</span>
        <span class="product__price--previous">${{productNormalPrice}}</span>
      </p>
      <p *ngIf="!productReducedPrice">
        <span class="product__price--normal">${{productNormalPrice}}</span>
      </p>
    </span>

    <div class="buttons">
      <button><fa name="heart"></fa></button>
      <button><fa name="shopping-cart"></fa></button>
    </div>
  </div>
</mat-card>
