<mat-card class="product">
  <img (click)="showProductDetails()" class="product__image" src="assets/images/products/{{productObject.img}}" alt={{productObject.name}}>
  <div class="product__content" fxLayout fxLayoutAlign="space-between center">
    <span>
      <p>{{ productName }}</p>
      <p *ngIf="productReducedPrice">
        <span class="product__price--reduced">${{productReducedPrice.toFixed(2)}}</span>
        <span class="product__price--previous">${{productNormalPrice.toFixed(2)}}</span>
      </p>
      <p *ngIf="!productReducedPrice">
        <span class="product__price--normal">${{productNormalPrice.toFixed(2)}}</span>
      </p>
    </span>

    <div class="buttons">
      <button><fa name="heart" (click)="onToggleProduct('inWishlist')" [ngClass]="{'active': productObject.inWishlist}"></fa></button>
      <button><fa name="shopping-cart" (click)="onToggleProduct('inCart')" [ngClass]="{'active': productObject.inCart}"></fa></button>
    </div>
  </div>
</mat-card>
