<mat-nav-list fxLayout="column">
  <a mat-list-item routerLink="/ladies" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <span class="menu__sale">ladies</span>
  </a>
  <a mat-list-item routerLink="/men" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <span class="menu__men">men</span>
  </a>
  <a mat-list-item routerLink="/kids" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <span class="menu__kids">kids</span>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <span class="menu__home">home</span>
  </a>
  <a mat-list-item routerLink="/sale" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <span class="menu__sale">sale</span>
  </a>
  <a mat-list-item routerLink="/wishlist" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <!-- <fa name="heart"></fa> -->
    <span>wishlist</span>
  </a>
  <a mat-list-item routerLink="/cart" routerLinkActive="active-link" (click)="onClose()" class="menu-item">
    <!-- <fa name="shopping-cart"></fa> -->
    <span>cart</span>
  </a>
  <a mat-list-item routerLink="/login" routerLinkActive="active-link" (click)="onClose()" class="menu-item"
    *ngIf="!isAuth">
    <span>login</span>
  </a>
  <a mat-list-item routerLink="/signup" routerLinkActive="active-link" (click)="onClose()" class="menu-item"
    *ngIf="!isAuth">
    <span>sign up</span>
  </a>
  <a mat-list-item routerLink="/signup" routerLinkActive="active-link" (click)="onClose()" class="menu-item"
    *ngIf="isAuth">
    <span>log out</span>
  </a>
</mat-nav-list>
