<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign.gt-xs="space-between center" fxLayoutAlign.xs="center">
    <span class="toolbar-left" fxLayout fxLayoutAlign.gt-xs="flex-start center" fxLayoutAlign.xs="space-between center">
      <button mat-icon-button class="toolbar__icon" fxHide.gt-xs (click)="onToggleSidenav()">
        <fa name="bars"></fa>
      </button>
      <a [routerLink]="['/']">
        <div class="logo" fxLayout fxLayoutAlign="center center">
          <div>
            <h1><span class="logo__colorLetter">T</span>rendy </h1>
            <h1 class="logo__second-word"><span class="logo__colorLetter">M</span>e</h1>
          </div>
          <div fxLayout>
            <img class="logo__image" src="./assets/images/logo-img.svg" alt="app-logo">
          </div>
        </div>
      </a>
    </span>
    <app-toolbar-right></app-toolbar-right>
  </mat-toolbar-row>
</mat-toolbar>
