<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <a [routerLink]="['/']">
      <div class="logo" fxLayout fxLayoutAlign="center center">
        <div>
          <h1><span class="logo__colorLetter">T</span>rendy </h1>
          <h1 class="logo__second-word"><span class="logo__colorLetter">M</span>e</h1>
        </div>
        <div fxLayout>
          <img class="logo__image" src="../../../assets/images/logo-img.svg" alt="app-logo">
        </div>
      </div>
    </a>
    <div class="toolbar-right">
      <fa name="heart"></fa>
      <fa name="shopping-cart"></fa>
      <fa name="user"></fa>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
