@import 'src/styles/themes/theme';
@import 'src/styles/base/typography';

.logo {
  color: white;
  text-align: right;

  &__colorLetter {
    color: mat-color($accent);
  }

  &__second-word {
    margin-top: -0.3rem !important;
  }
}

.toolbar-right {
  fa {
    color: white;
    cursor: pointer;
    padding-left: 15px;
    font-size: 1.8rem;

    &:hover {
      color: mat-color($accent);
    }
  }
}
