@import '../../../styles.scss';

.logo {
  color: white;
  text-align: right;

  &__colorLetter {
    color: mat-color($accent);
  }

  &__second-word {
    margin-top: -0.3rem !important;
  }

  h1 {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
  }
}

.toolbar-right {
  fa {
    color: white;
    cursor: pointer;
    padding-left: 15px;
    font-size: 1.8rem;

    &:hover {
      color: mat-color($accent);
    }
  }
}
