@import 'src/styles/abstracts/variables';

.app-wrapper {
  min-height: 100vh;
  background-image: url("../assets/images/white_wall_hash.png");
}

.page-content {
  height: calc((100vh - #{$toolbar-height} - #{$footer-height}));
}