@import "src/styles/themes/theme";
@import "src/styles/abstracts/variables";

.products {
  margin: 0 auto;

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  &__menu {
    margin: 0 15px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $color-grey;
    border-bottom: 1px solid $color-lightgrey;
    & > * {
      padding: 10px 5px 0 5px;
      margin: 0 5px;
    }
  }

  &__list {
    padding: 20px 0;
  }

  &__activeDepartment {
    padding-top: 20px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0 20px;
    font-weight: normal;
    color: mat-color($accent);
    text-transform: uppercase;
  }
}

a {
  border-bottom: 1px solid transparent;
}

.active-link,
a:hover,
.products__activeDepartment {
  color: mat-color($accent);
  border-bottom: 1px solid mat-color($accent);
}

a:hover {
  transition: border-bottom 0.2s, color 0.2s linear;
}

li {
  display: inline-block;
}
