@import '../themes/theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
}

.page-content {
  min-height: calc(100vh - #{$toolbar-height} - #{$footer-height});
  background-color: $color-white;
}

button {
  border: none;
  background-color: inherit;
  outline: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

// FORMS
.form-button {
  color: $color-white !important;
}

form {
  padding-top: 1.5rem;
}

mat-form-field {
  width: 300px;
}

.toolbar__icon {
  fa {
    color: $color-white;
    font-size: 1.8rem;

    &:hover {
      color: mat-color($accent);
      transition: color .2s linear;
    }
  }
}

.menu-item {
  color: $color-grey !important;

  &:hover {
    background-color: mat-color($accent) !important;
    color: $color-white !important;
  }
}

.page-title {
  padding-top: 20px;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 20px;
  font-weight: normal;
  color: mat-color($accent);
  text-transform: uppercase;
  border-bottom: 1px solid mat-color($accent);

  &__form {
    width: 200px;
  }
}
